html {
    height: 100%;
}

body {
    font-family:  Arial, Helvetica, sans-serif !important;
    padding: 0 !important;
    margin: 0 !important;
    min-height: 100% !important;
    background-color: #438a5e !important;
}

.outline-text {
    font-weight: 900;
    text-shadow: 0 1px 0 rgba(0,0,0,0.6);
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black;
    margin: 0;
    padding: 0;
}

.header-1 {
    display: flex;
    justify-content: center;
    background-color: #7fdbda;
    padding: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.header-1 h1 {
    display: flex;
    align-items: center;
    font-size: 32pt;
    padding: 0;
    margin: 0;
    color: white;
    font-weight: 700;
}

.header-2 {
    display: flex;
    justify-content: center;
    background-color: #df5e88;
    padding-top: 1%;
    padding-bottom: 1%;
    padding: 0;
    color: white;
}

.header-2 h2 {
    margin: 1%;
    padding: 0%;
    font-size: 15pt;
    text-transform: uppercase;
}
.header-2 p {
    font-size: 16pt;
    color: black;
    margin: 1%;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #febf63;
}
.footer p {
    text-align: center;
    font-size: 18pt;
    font-weight: 900;
    color: white;
    margin: 1%;
}

.translator .instructions {
    display: flex;
    justify-content: center;
}
.translator .instructions p {
    font-weight: 900;
    color: white;
    margin: 1%;
    padding: 0;
    font-size: 15pt;
    text-align: center;
    text-transform: uppercase;
}

.translate {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 20px;
}

.text-fields {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.bar-container {
    display: flex;
    justify-content: center;
    /* margin: 0 5px 0 5px; */
}

.progress {
    width: 217.33px;
}

.input-bar {
    margin-right: 41px;
    
}

.percent-pirate {
    text-align: center;
    margin-bottom: 0px;
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.6);
}
.output-bar {
    margin-left: 41px;
}
/* .input, .output {
    width: 35%

} */